* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cursor {
  cursor: pointer;
}
.post-page {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}
.post-page .post-all {
  flex: 0.5;
  border: 1px solid #000000;
  height: 700px;
  overflow-y: scroll;
}
.post-page .post-all .post-container {
  border: 1px solid red;
  padding: 5px;
  margin: 3px;
}

.post-page .create-box {
  flex: 0.3;
  border: 1px solid #000000;
}

.bold-unerline {
  font-weight: bold;
  text-decoration: underline;
}
